# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual env
.venv/
venv/
ENV/

# Build outputs
build/
dist/

# DebugSessions
DebugFeedback/

# Keep project spec (MarkWrite.spec) but ignore others
!MarkWrite.spec
!MarkWrite-win.spec
!MarkWrite-linux.spec
*.spec

# macOS
.DS_Store

# IDE
.idea/
.vscode/

